# MongoDB
MONGODB_URI=

# OpenWeather API
OPENWEATHER_API_KEY=
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5

# OpenAQ API
OPENAQ_API_KEY=
OPENAQ_BASE_URL=https://api.openaq.org/v3

# GeoDB Cities API
GEODB_API_KEY=
GEODB_BASE_URL=https://wft-geo-db.p.rapidapi.com/v1/geo

# Currency API
CURRENCY_API_KEY=
CURRENCY_BASE_URL=https://api.exchangeratesapi.io/v1

# App
NEXT_PUBLIC_APP_NAME=Global City Insights Dashboard
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
